.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode

# Nodejs files
node_modules/

# Static files
unitrack/static/uploads/*
!unitrack/static/uploads/default.png