[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "2.3.3"
flask-mysql-connector = "*"
flask-login = "*"
Werkzeug = "2.3.7"
python-dotenv = "*"
flask-wtf = "*"
wtforms = "*"

[dev-packages]

[requires]
python_version = "3.10"
