{% extends "layout.html" %} {% set active_page = "college" %}
{% from "./macros/input.html" import render_field %}
{% from "./macros/photo-input.html" import render_photo_field %}
{% from './macros/csrf_input.html' import csrf_input %}
{% block title %}
  Add College
{% endblock title %}
{% block content %}
  <div class="w-full max-w-3xl p-8 mx-auto bg-white border shadow-md rounded-2xl">
    <form class="grid w-full grid-cols-2 gap-8 py-4"
          method="post"
          enctype="multipart/form-data"
          novalidate>
      {{ csrf_input() }}
      <div class="col-span-2">
        {{ render_photo_field(form.photo, add_text="Add College Logo", remove_text="Remove College Logo", is_circle=true) }}
      </div>
      {{ render_field(form.name, container_class="col-span-2") }}
      {{ render_field(form.code, container_class="col-span-2") }}
      <button type="submit"
              class="col-span-2 px-4 py-4 font-thin text-white cursor-pointer bg-primary-500 rounded-xl hover:bg-primary-600">
        Save
      </button>
    </form>
  </div>
{% endblock content %}
