{% from "./macros/input.html" import render_field %}
{% from "./macros/photo-input.html" import render_photo_field %}
{% from './macros/csrf_input.html' import csrf_input %}
{% set active_page = "student" %} {% extends "layout.html" %}
{% block title %}
  Add Student
{% endblock title %}
{% block content %}
  <div class="w-full max-w-3xl space-y-12">
    <h1 class="text-5xl font-extrabold tracking-tight text-center text-gray-800">Add Student</h1>
    <div class="w-full p-8 mx-auto bg-white border shadow-md rounded-2xl">
      <form class="grid w-full grid-cols-2 gap-8 py-4"
            method="post"
            enctype="multipart/form-data"
            novalidate>
        {{ csrf_input() }}
        <div class="col-span-2">
          {{ render_photo_field(form.photo, add_text="Add College Logo", remove_text="Remove College Logo", is_circle=true) }}
        </div>
        {{ render_field(form.student_id, container_class="col-span-2") }}
        {{ render_field(form.first_name, container_class="col-span-2") }}
        {{ render_field(form.last_name, container_class="col-span-2") }}
        {{ render_field(form.gender, container_class="col-span-1") }}
        {{ render_field(form.birthday, container_class="col-span-1") }}
        {{ render_field(form.year_enrolled, container_class="col-span-2") }}
        {{ render_field(form.college_id, container_class="col-span-2") }}
        {{ render_field(form.course_id, container_class="col-span-2") }}
        <button type="submit"
                class="col-span-2 px-4 py-4 font-thin text-white cursor-pointer bg-primary-500 rounded-2xl hover:bg-primary-600">
          Save
        </button>
      </form>
    </div>
  </div>
  <script type="text/javascript">
  const collegeSelect = document.querySelector("select[name=college_id]");
  const courseSelect = document.querySelector("select[name=course_id]");

  collegeSelect.addEventListener("change", (e) => {
    getCourses(e.target.value);
  });

  function getCourses(collegId) {
    fetch(`/course/college/${collegId}`, {
      method: "GET",
    })
      .then((response) => response.json())
      .then((data) => {
        if (data?.length > 0) {
          courseSelect.innerHTML = "";
          data.forEach((course) => {
            const option = document.createElement("option");
            option.value = course.id;
            option.text = `${course.code} - ${course.name}`;
            courseSelect.appendChild(option);
          });
        }
      })
      .catch((error) => console.log(error));
  }
  </script>
{% endblock content %}
