<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="unitrack, Simple Student Information System" />
    <meta name="description"
          content="unitrack is a simple student information system that can be used to manage students and colleges." />
    <meta name="csrf_token" content="{{ csrf_token() }}" />
    <meta keywords="unitrack, Simple Student Information System" />
    <title>
      {% block title %}
      {% endblock title %}
      -  UniTrack
    </title>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
            integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8="
            crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Mochiy+Pop+P+One&display=swap"
          rel="stylesheet" />
    <script type="text/javascript"
            src="{{ url_for('static', filename='index.js') }}"
            defer></script>
    <link href="{{ url_for('static',filename='css/main.css') }}"
          rel="stylesheet" />
    <script src="https://kit.fontawesome.com/2bb85d79b4.js"
            crossorigin="anonymous"></script>
    <link rel="apple-touch-icon"
          sizes="180x180"
          href="{{ url_for('static', filename='src/favicon/apple-touch-icon.png') }}">
    <link rel="icon"
          type="image/png"
          sizes="32x32"
          href="{{ url_for('static', filename='src/favicon/favicon-32x32.png') }}">
    <link rel="icon"
          type="image/png"
          sizes="16x16"
          href="{{ url_for('static', filename='src/favicon/favicon-16x16.png') }}">
    <link rel="manifest"
          href="{{ url_for('static', filename='src/favicon/site.webmanifest') }}">
  </head>
  <body class="min-h-screen flex relative {{ 'flex-col' if not current_user.is_authenticated else '' }}">
    {% if current_user.is_authenticated %}
      {% include "partials/sidebar.html" %}
    {% else %}
      {% include "partials/navbar.html" %}
      <div class="absolute inset-0 w-full h-full hero"></div>
    {% endif %}
    <div class="flex justify-center flex-1 w-full min-h-full py-24 {{ 'ml-80' if current_user.is_authenticated else '' }}">
      {% block content %}
      {% endblock content %}
    </div>
    <div aria-live="assertive"
         class="fixed inset-0 flex items-end px-4 py-6 pointer-events-none sm:items-start sm:p-6">
      <div id="notifications"
           class="flex flex-col items-center justify-end w-full h-full space-y-4 sm:items-end"></div>
    </div>
  </body>
</html>
