{% extends "layout.html" %}
{% set active_page = "login" %}
{% block title %}
  Sign Up
{% endblock title %}
{% block content %}
  <div class="flex items-center justify-center w-full max-w-xl">
    <div class="w-full px-8 py-12 bg-white border shadow-md rounded-2xl">
      <form class="space-y-6" method="post">
        <div>
          <label class="block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase">Email</label>
          <input class="w-full px-4 py-3 border-2 rounded-lg focus:outline-none focus:border-primary-500"
                 placeholder="Email"
                 type="email"
                 name="email" />
        </div>
        <div>
          <label class="block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase">Password</label>
          <input class="w-full px-4 py-3 border-2 rounded-lg focus:outline-none focus:border-primary-500"
                 placeholder="Password"
                 type="password"
                 name="password" />
        </div>
        <div>
          <button class="w-full px-4 py-3 text-lg font-thin text-white rounded-xl bg-primary-500">Login</button>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
