{% extends "layout.html" %} {% set active_page = "signup" %}
{% from "./macros/input.html" import render_field %}
{% from "./macros/photo-input.html" import render_photo_field with context %}
{% from './macros/csrf_input.html' import csrf_input %}
{% block title %}
  Sign Up
{% endblock title %}
{% block content %}
  <div class="flex items-center justify-center w-full max-w-4xl">
    <div class="w-full px-8 pt-24 pb-12 bg-white border shadow-md rounded-2xl">
      <form class="grid grid-cols-2 gap-5"
            method="post"
            enctype="multipart/form-data"
            novalidate>
        <div class="col-span-2">
          {{ render_photo_field(form.logo, add_text="Change University Logo", remove_text="Remove University Logo") }}
        </div>
        {{ csrf_input() }}
        {{ form.id }}
        {{ render_field(form.logo, container_class="hidden") }}
        {{ render_field(form.name, container_class="col-span-2") }}
        {{ render_field(form.display_name, container_class="col-span-2") }}
        {{ render_field(form.primary_color, container_class="col-span-1", footer_text="Click on the box to select a color, or type in the color code.") }}
        {{ render_field(form.secondary_color, container_class="col-span-1", footer_text="Click on the box to select a color, or type in the color code.") }}
        {{ render_field(form.email, container_class="col-span-2") }}
        <div class="col-span-2 pt-4">
          <button class="w-full px-4 py-3 text-lg font-thin text-white rounded-xl bg-primary-500">Save Changes</button>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
