{% extends "layout.html" %} {% set active_page = "student" %}
{% block title %}
  {{ student.first_name }} {{ student.last_name }}
{% endblock title %}
{% block content %}
  <dialog data-modal
          class="w-full max-w-lg p-8 space-y-6 border shadow-lg rounded-2xl">
    <h2 class="text-3xl font-bold tracking-tight text-gray-800">Delete Student</h2>
    <p class="font-medium text-gray-600">Are you sure you want to delete this student?</p>
    <div class="flex w-full space-x-4">
      <button data-close-modal class="w-full p-2 bg-gray-100 rounded-lg">Cancel</button>
      <button onclick="deleteStudent({{ student.id }})"
              class="w-full p-2 text-white bg-red-500 rounded-lg">Confirm</button>
    </div>
  </dialog>
  <div class="flex flex-col items-center w-full max-w-3xl px-8 pt-24 pb-12 bg-white border shadow-md rounded-3xl">
    <img src="{{ url_for('media', filename=student.photo or 'default.png') }}"
         alt="{{ student.photo }}"
         class="object-cover w-56 h-56 border border-gray-300 rounded-3xl"
         height="auto"
         width="auto" />
    {% if current_user.is_authenticated %}
      <div class="flex items-center gap-4 py-8">
        <a href="{{ url_for('student.update_student', id=student.id) }}"
           class="px-4 py-1 text-sm font-light transition-all border rounded-full cursor-pointer text-primary-600 border-primary-600 hover:font-medium hover:bg-primary-50 duration-5">Update</a>
        <button data-open-modal
                class="px-4 py-1 text-sm font-light text-red-600 transition-all border border-red-600 rounded-full cursor-pointer hover:font-medium hover:bg-red-50 duration-5">
          Delete
        </button>
      </div>
    {% endif %}
    <div class="grid w-full grid-cols-2 gap-4 pt-12">
      <div class="p-4 space-y-1 border rounded-xl">
        <label class="block mb-2 text-xs font-medium tracking-wide text-gray-700 uppercase">Student ID</label>
        <h1 class="text-lg font-semibold text-gray-800">{{ student.student_id }}</h1>
      </div>
      <div class="p-4 space-y-1 border rounded-xl">
        <label class="block mb-2 text-xs font-medium tracking-wide text-gray-700 uppercase">Full Name</label>
        <h1 class="text-lg font-semibold text-gray-800">{{ student.first_name }} {{ student.last_name }}</h1>
      </div>
      <div class="p-4 space-y-1 border rounded-xl">
        <label class="block mb-2 text-xs font-medium tracking-wide text-gray-700 uppercase">Gender</label>
        <h1 class="text-lg font-semibold text-gray-800">{{ student.gender }}</h1>
      </div>
      <div class="p-4 space-y-1 border rounded-xl">
        <label class="block mb-2 text-xs font-medium tracking-wide text-gray-700 uppercase">Birthday</label>
        <h1 class="text-lg font-semibold text-gray-800">{{ student.birthday }}</h1>
      </div>
      <div class="p-4 space-y-1 border rounded-xl">
        <label class="block mb-2 text-xs font-medium tracking-wide text-gray-700 uppercase">Year Enrolled</label>
        <h1 class="text-lg font-semibold text-gray-800">{{ student.year_enrolled }}</h1>
      </div>
      <div class="p-4 space-y-1 border rounded-xl">
        <label class="block mb-2 text-xs font-medium tracking-wide text-gray-700 uppercase">College</label>
        <div class="flex gap-2">
          <img src="{{ url_for('media', filename=student.college_photo or 'default.png') }}"
               alt="{{ student.college_photo }}"
               class="object-cover w-6 h-6 mt-1 border-2 rounded-full"
               height="auto"
               width="auto" />
          <h1 class="text-lg font-semibold leading-tight text-gray-800">{{ student.college_name }}</h1>
        </div>
      </div>
      <div class="p-4 space-y-1 border rounded-xl">
        <label class="block mb-2 text-xs font-medium tracking-wide text-gray-700 uppercase">Course</label>
        <div class="flex gap-2">
          <img src="{{ url_for('media', filename=student.course_photo or 'default.png') }}"
               alt="{{ student.course_photo }}"
               class="object-cover w-6 h-6 mt-1 border-2 rounded-full"
               height="auto"
               width="auto" />
          <h1 class="text-lg font-semibold leading-tight text-gray-800">{{ student.course_name }}</h1>
        </div>
      </div>
    </div>
  </div>
  <script>
    const csrf_token = document.querySelector("meta[name=csrf_token]").content;
    
    const modal = document.querySelector("[data-modal]");
    const openModal = document.querySelector("[data-open-modal]")
    const closeModal = document.querySelector("[data-close-modal]")

  openModal.addEventListener("click", () => {
    modal.showModal();
  })

  modal.addEventListener("click", (e) => {
    if (e.target === modal) {
      modal.close();
    }
  });

  closeModal.addEventListener("click", () => {
    modal.close();
  });
  
  function deleteStudent(id){
    fetch(`/student/delete/${id}`, {
      method: "DELETE",
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": csrf_token
      }
    })
      .then(response => response.json())
      .then(data => {
        if (data.success) {
          window.location.href = "/student"
        }
      });
  }
  </script>
{% endblock content %}
