{% from "./macros/empty-svg.html" import empty_svg %}
{% extends "layout.html" %} {% set active_page = "student" %}
{% block title %}
  Students
{% endblock title %}
{% block content %}
  <div class="w-full max-w-6xl">
    <dialog data-modal class="w-full max-w-lg p-8 border shadow-lg rounded-2xl">
      <form id="filter-form"  class="grid w-full space-y-4">
        <div class="col-span-2">
          <label class="block mb-2 text-xs font-medium tracking-wide text-gray-700 uppercase">Gender</label>
          <div class="relative">
            <select class="w-full col-span-2 px-4 py-3 bg-white border-2 appearance-none rounded-2xl"
                    name="gender">
              <option value="">Select Gender</option>
              {% for gender in options['genders'] %}
                {% if gender == filters['gender']['name'] %}
                  <option value="{{ gender }}" selected>{{ gender }}</option>
                {% else %}
                  <option value="{{ gender }}">{{ gender }}</option>
                {% endif %}
              {% endfor %}
            </select>
            <div class="absolute inset-y-0 right-0 flex items-center px-4 pointer-events-none">
              <svg class="w-4 h-4 fill-current"
                   xmlns="http://www.w3.org/2000/svg"
                   viewBox="0 0 20 20">
                <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
              </svg>
            </div>
          </div>
        </div>
        <div class="col-span-2">
          <label class="block mb-2 text-xs font-medium tracking-wide text-gray-700 uppercase">College</label>
          <div class="relative">
            <select class="w-full col-span-2 px-4 py-3 bg-white border-2 appearance-none rounded-2xl"
                    name="college_id">
              <option value="">Select College</option>
              {% for college in options['colleges'] %}
                {% if college['id'] == filters['college']['id'] %}
                  <option value="{{ college.id }}" selected>{{ college.name }}</option>
                {% else %}
                  <option value="{{ college.id }}">{{ college.name }}</option>
                {% endif %}
              {% endfor %}
            </select>
            <div class="absolute inset-y-0 right-0 flex items-center px-4 pointer-events-none">
              <svg class="w-4 h-4 fill-current"
                   xmlns="http://www.w3.org/2000/svg"
                   viewBox="0 0 20 20">
                <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
              </svg>
            </div>
          </div>
        </div>
        <div class="col-span-2">
          <label class="block mb-2 text-xs font-medium tracking-wide text-gray-700 uppercase">Course</label>
          <div id="course-select" class="relative">
            <select class="w-full col-span-2 px-4 py-3 bg-white border-2 appearance-none rounded-2xl"
                    name="course_id">
              <option value="">Select Course</option>
              {% for course in options['courses'] %}
                {% if course['id'] == filters['course']['id'] %}
                  <option value="{{ course.id }}" selected>{{ course.name }}</option>
                {% else %}
                  <option value="{{ course.id }}">{{ course.name }}</option>
                {% endif %}
              {% endfor %}
            </select>
            <div class="absolute inset-y-0 right-0 flex items-center px-4 pointer-events-none">
              <svg class="w-4 h-4 fill-current"
                   xmlns="http://www.w3.org/2000/svg"
                   viewBox="0 0 20 20">
                <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
              </svg>
            </div>
          </div>
        </div>
        <div class="col-span-2">
          <label class="block mb-2 text-xs font-medium tracking-wide text-gray-700 uppercase">Year Enrolled</label>
          <div id="course-select" class="relative">
            <select class="w-full col-span-2 px-4 py-3 bg-white border-2 appearance-none rounded-2xl"
                    name="year_enrolled">
              <option value="">Select Year Enrolled</option>
              {% for key,value in options['years_enrolled'] %}
                {% if key == filters['year_enrolled']['name'] %}
                  <option value="{{ key }}" selected>{{ key }}</option>
                {% else %}
                  <option value="{{ key }}">{{ key }}</option>
                {% endif %}
              {% endfor %}
            </select>
            <div class="absolute inset-y-0 right-0 flex items-center px-4 pointer-events-none">
              <svg class="w-4 h-4 fill-current"
                   xmlns="http://www.w3.org/2000/svg"
                   viewBox="0 0 20 20">
                <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
              </svg>
            </div>
          </div>
        </div>
        <button type="submit"
                class="col-span-2 px-4 py-4 font-thin text-white transition duration-500 bg-primary-500 rounded-2xl hover:bg-primary-600">
          Filter
        </button>
      </form>
    </dialog>
    <form class="grid w-full space-x-4">
      <div class="flex items-center justify-between w-full">
        <div class="relative flex items-center w-full max-w-lg">
          <div class="absolute flex items-center justify-center w-12 h-full">
            <i class="text-gray-700 fa-solid fa-magnifying-glass"></i>
          </div>
          <input name="query"
                 type="text"
                 class="w-full py-3 pl-12 border-2 rounded-2xl"
                 value="{{ query }}"
                 placeholder="Search by student id, first name, last name," />
        </div>
        <button type="button"
                data-open-modal
                class="px-5 py-2 font-thin tracking-wide text-white bg-primary-500 rounded-2xl hover:bg-primary-600 font-body">
          <i class="mr-1 text-sm fa-solid fa-filter"></i>
          Filter
        </button>
      </div>
    </form>
    {% if show_filters %}
      <div class="flex gap-3 py-4">
        {% for key, value in filters.items() %}
          {% if value %}
            <div class="flex items-center gap-4 px-4 py-2 bg-primary-500 rounded-2xl">
              <p class="text-white">{{ value['name'] }}</p>
              <button type="button" id="delete-filter" data-key="{{ value['key'] }}">
                <i class="text-white pointer-events-none fa-solid fa-xmark"></i>
              </button>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
    <div class="flex items-center justify-between w-full py-4">
      <div>
        {% if query %}
          <p class="font-thin text-gray-800">Search result for '{{ query }}' ({{ total_count }})</p>
        {% else %}
          <p class="font-thin text-gray-800">Showing {{ students | length }} of {{ total_count }} students</p>
        {% endif %}
      </div>
      {% if current_user.is_authenticated %}
        <button id="add-student"
                data-can-add="{{ can_add_student }}"
                class="px-6 py-2 font-thin text-white bg-green-500 rounded-2xl hover:bg-green-600">Add Student</button>
      {% endif %}
    </div>
    <div class="w-full py-16 space-y-8 border-t">
      {% if students | length == 0 %}
        <div class="flex flex-col items-center justify-center w-full gap-12 py-8">
          <div class="space-y-8">
            {{ empty_svg() }}
            <h1 class="text-2xl font-bold text-gray-800">Add a student to get started</h1>
          </div>
        </div>
      {% else %}
        <div class="grid grid-cols-2 gap-4">
          {% for student in students %}
            <div class="flex flex-col justify-between grid-cols-1 gap-8 p-6 bg-white border shadow-md rounded-3xl">
              <div class="flex gap-4">
                <div class="box-content w-20 h-20 rounded-3xl aspect-square ring-1 ring-gray-200">
                  <img src="{{ url_for('media', filename=student.photo or 'default.png') }}"
                       alt="{{ student.photo }}"
                       class="object-cover w-20 h-20 rounded-3xl"
                       height="auto"
                       width="auto" />
                </div>
                <div class="w-full space-y-4">
                  <a href="{{ url_for('student.view_student', id=student.id) }}"
                     class="text-xl font-semibold leading-snug tracking-tight text-gray-700">{{ student.first_name }} {{ student.last_name }}</a>
                  <h3 class="font-medium leading-snug text-gray-500 text-md">{{ student.student_id }}</h3>
                  <div class="flex gap-2">
                    <a href="{{ url_for('college.view_college', id=student.college_id) }}">
                      <div class="flex items-center px-3 py-1 space-x-2 transition duration-500 border rounded-full cursor-pointer hover:bg-gray-100">
                        <img src="{{ url_for('media', filename=student.college_photo or 'default.png') }}"
                             alt="{{ student.college_photo }}"
                             class="object-cover w-5 h-5 border-2 rounded-full"
                             height="auto"
                             width="auto" />
                        <h3 class="text-sm font-thin text-gray-800 cursor-pointer">{{ student.college_code }}</h3>
                      </div>
                    </a>
                    <a href="{{ url_for('college.view_college', id=student.college_id) }}">
                      <div class="flex items-center px-3 py-1 space-x-2 transition duration-500 border rounded-full cursor-pointer hover:bg-gray-100">
                        <img src="{{ url_for('media', filename=student.course_photo or 'default.png') }}"
                             alt="{{ student.course_photo }}"
                             class="object-cover w-5 h-5 border-2 rounded-full"
                             height="auto"
                             width="auto" />
                        <h3 class="text-sm font-thin text-gray-800 cursor-pointer">{{ student.course_code }}</h3>
                      </div>
                    </a>
                    <div class="flex items-center px-3 py-1 space-x-2 transition duration-500 border rounded-full cursor-pointer hover:bg-gray-100">
                      <h3 class="text-sm font-thin text-gray-800 cursor-pointer">{{ student.year_enrolled }}</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="flex justify-center space-x-6">
          <a href="{{ url_for('student.students', page=page - 1) }}"
             class="{{ 'pointer-events-none opacity-50' if not has_previous_page }} rounded-2xl w-14 h-14 border-2 flex items-center justify-center">
            <i class="text-gray-700 fa-solid fa-arrow-left"></i>
          </a>
          <a href="{{ url_for('student.students', page=page + 1) }}"
             class="{{ 'pointer-events-none opacity-50' if not has_next_page }} rounded-2xl w-14 h-14 border-2 flex items-center justify-center">
            <i class="text-gray-700 fa-solid fa-arrow-right"></i>
          </a>
        </div>
      {% endif %}
    </div>
  </div>
  <script type="text/javascript">
  const collegeSelect = document.querySelector("select[name=college_id]");
  const courseSelect = document.querySelector("select[name=course_id]");
  const courseSelectContainer = document.querySelector("#course-select");
  const openModal = document.querySelector("[data-open-modal]");
  const modal = document.querySelector("[data-modal]");
  const filterForm = document.querySelector("#filter-form");
  const deleteFilterButtons = document.querySelectorAll("#delete-filter");

  const addStudentButton = document.querySelector("#add-student");

  addStudentButton.addEventListener("click", (e) => {
    const canAdd = e.target.dataset.canAdd;

    if (canAdd === "True") {
      window.location.href = "/student/add";
      return;
    } 
  
    showNotification("error", "You need to add a college and course first");
  });

  openModal.addEventListener("click", () => {
    modal.showModal();
  });

  modal.addEventListener("click", (e) => {
    if (e.target === modal) {
      modal.close();
    }
  });

  filterForm.addEventListener("submit", (e) => {
    e.preventDefault();
    const formData = new FormData(e.target);
    const url = new URL(window.location.href);
    const params = new URLSearchParams(formData);
    params.forEach((value, key) => {
      if (value === "") {
        params.delete(key);
      }
    });
    url.search = params;
    window.location.href = url;
  });

  deleteFilterButtons.forEach((button) => {
    button.addEventListener("click", (e) => {
      const key = e.target.dataset.key;
      const url = new URL(window.location.href);
      const params = new URLSearchParams(url.search);
      params.delete(key);
      if (key === "college_id") {
        params.delete("course_id");
      }
      url.search = params;
      window.location.href = url;
    });
  });


  function getCourses(collegeId) {
    fetch(`/course/college/${collegeId}`, {
      method: "GET",
    })
      .then((response) => response.json())
      .then((data) => {
        courseSelect.innerHTML = `<option value="">Select Course</option>`;
        if (data && data.length > 0) {
          courseSelectContainer.classList.remove(
            "pointer-events-none",
            "opacity-50"
          );
          data.forEach((course) => {
            courseSelect.innerHTML += `<option value="${course.id}">${course.name}</option>`;
          });
        } else {
          courseSelect.innerHTML = `<option value="">No course found</option>`;
          courseSelectContainer.classList.add(
            "pointer-events-none",
            "opacity-50"
          );
        }
      })
      .catch((error) => console.log(error));
  }

  collegeSelect.addEventListener("change", (e) => {
    getCourses(e.target.value);
  });

  function deleteStudent(id) {
    fetch(`/student/${id}`, {
      method: "DELETE",
    })
      .then((response) => response.json())
      .then((data) => {
        if (data.success) {
          window.location.reload();
        }
      });
  }

  const deleteButtons = document.querySelectorAll("#delete-student");

  deleteButtons.forEach((button) => {
    button.addEventListener("click", (e) => {
      const id = e.target.dataset.id;
      deleteStudent(id);
    });
  });
  </script>
{% endblock content %}
