{% from "./macros/input.html" import render_field %}
{% from "./macros/photo-input.html" import render_photo_field %}
{% from './macros/csrf_input.html' import csrf_input %}
{% extends "layout.html" %}
{% set active_page = "student" %}
{% block title %}
  Update Student
{% endblock title %}
{% block content %}
  <div class="w-full max-w-3xl p-8 mx-auto bg-white border shadow-md rounded-2xl">
    <form class="grid w-full grid-cols-2 gap-8 py-4"
          method="post"
          enctype="multipart/form-data"
          novalidate>
      {{ csrf_input() }}
      {{ form.id }}
      <div class="col-span-2">
        {{ render_photo_field(form.photo, add_text="Add College Logo", remove_text="Remove College Logo", is_circle=true) }}
      </div>
      {{ render_field(form.student_id, container_class="col-span-2") }}
      {{ render_field(form.first_name, container_class="col-span-2") }}
      {{ render_field(form.last_name, container_class="col-span-2") }}
      {{ render_field(form.gender, container_class="col-span-1") }}
      {{ render_field(form.birthday, container_class="col-span-1") }}
      {{ render_field(form.college_id, container_class="col-span-2") }}
      {{ render_field(form.course_id, container_class="col-span-2") }}
      <button type="submit"
              class="col-span-2 px-4 py-4 font-thin text-white cursor-pointer bg-primary-500 rounded-2xl hover:bg-primary-600">
        Save Changes
      </button>
    </form>
  </div>
  {% block javascript %}
    <script type="text/javascript">
  const collegeSelect = document.querySelector("select[name=college_id]");
  const courseSelect = document.querySelector("select[name=course_id]");

  collegeSelect.addEventListener("change", (e) => {
    getCourses(e.target.value);
  });

  const course_id = "{{ form.course_id.data }}";
  const course_choices = '{{ form.course_id.choices | tojson | safe }}';
  const parsed = JSON.parse(course_choices);


  function setCourseOptions(courses = []){
    if(!courses) return;
    if(!courses.length) return;
    
    courseSelect.innerHTML = "";
    
    courses.forEach((course) => {
      const option = document.createElement("option");
      option.value = course.id;
      option.text = course.name;
      option.selected = course_id == course.id;
      console.log({course_id, id: course.id, selected: course_id == course.id})
      courseSelect.appendChild(option);
    });
  }

  document.addEventListener("DOMContentLoaded", () => {
    const transformedCourses = parsed.map((course) => {
      return {
        id: course[0],
        name: course[1],
      };
    });
  });

  

  function getCourses(collegId) {
    fetch(`/course/college/${collegId}`, {
      method: "GET",
    })
      .then((response) => response.json())
      .then((data) => {
        setCourseOptions(data);
      })
      .catch((error) => console.log(error));
  }
    </script>
  {% endblock javascript %}
{% endblock content %}
