{% macro render_photo_field(field, add_text, remove_text, container_class, is_circle=false) %}
  {% set photo = field.data %}
  <div class="flex flex-col items-center gap-4 {{ container_class }}">
    {{ field(class="hidden") }}
    <div id="photo-preview"
         class="flex items-center justify-center overflow-hidden w-48 h-48 border bg-slate-200 {{ 'rounded-full' if is_circle else 'rounded-3xl' }} {{ 'border-red-500' if field.errors }}">
      {% if photo %}
        <img src="{{ get_image(photo) }}"
             class="object-cover w-full h-full"
             height="auto"
             width="auto"
             alt="" />
      {% else %}
        <i class="text-7xl fa-regular fa-image text-slate-600"></i>
      {% endif %}
      <input type="file" name="upload" accept="image/*" class="hidden" />
    </div>
    {% if field.errors %}
      <ul>
        {% for error in field.errors %}<li class="text-xs text-red-500">{{ error }}</li>{% endfor %}
      </ul>
    {% endif %}
    <div class="flex items-center gap-2">
      <button type="button"
              id="add-photo"
              class="px-4 py-2 text-sm font-thin text-white transition duration-500 cursor-pointer bg-primary-500 rounded-xl hover:bg-primary-600">
        {{ add_text }}
      </button>
      <button type="button"
              id="remove-photo"
              class="px-4 py-2 text-sm font-thin text-white transition duration-500 bg-red-500 cursor-pointer rounded-xl hover:bg-red-600"
              {% if not photo %}hidden{% endif %}>{{ remove_text }}</button>
    </div>
  </div>
  <script>
  const photoPreview = document.getElementById("photo-preview");
  const addPhoto = document.getElementById("add-photo");
  const removePhoto = document.getElementById("remove-photo");

  const uploadPhotoInput = document.querySelector("input[type=file]");
  const photo = document.querySelector("input[name={{ field.name }}]")
  const csrfToken = document.querySelector("meta[name=csrf_token]").content;

  uploadPhotoInput.addEventListener("change", async () => {
    const file = uploadPhotoInput.files[0];
    const formData = new FormData();
    formData.append("upload", file);
    formData.append("csrf_token", csrfToken);

    const response = await fetch("{{ url_for('main.upload_to_cloudinary') }}", {
      method: "POST",
      body: formData,
    });

    const data = await response.json();
    
    if (data?.is_success){
      photoPreview.innerHTML = `<img src="${data.url}" class="object-cover w-full h-full" height="auto" width="auto" alt="" />`;
      photo.value = data.public_id;
    }
    
    removePhoto.hidden = false;
  });

  addPhoto.addEventListener("click", () => {
    uploadPhotoInput.click();
  });

  removePhoto.addEventListener("click", () => {
    photoPreview.innerHTML = `<i class="text-7xl fa-regular fa-image text-slate-600"></i>`;
    photo.value = "";
    removePhoto.hidden = true;
  });
  </script>
{% endmacro %}
