{% block navbar %}
  <nav class="z-10 flex items-center justify-center w-full h-20 px-12 bg-white border-b">
    <div class="flex items-center justify-between w-full max-w-7xl">
      <a href="{{ url_for('main.dashboard',) }}">
        <img src="{{ url_for('static', filename='src/svgs/unitrack.svg') }}"
             alt="Unitrack logo"
             class="w-auto h-14"
             height="auto"
             width="auto" />
      </a>
      <div class="flex gap-3">
        <a href="{{ url_for('auth.signup',) }}"
           class="flex items-center justify-center px-8 py-2 font-thin text-white transition duration-500 bg-primary-500 hover:bg-primary-600 rounded-xl">Register</a>
        <a href="{{ url_for('auth.login',) }}"
           class="flex items-center justify-center px-8 py-2 font-thin border-2 text-primary-500 border-primary-400 hover:bg-primary-50 rounded-xl">Login</a>
      </div>
    </div>
  </nav>
{% endblock navbar %}
