{% extends "layout.html" %}
{% block title %}
  Add College - SSIS
{% endblock title %}
{% block content %}
  <h2 class="text-3xl font-bold">Add College</h2>
  <form class="w-full py-4 space-y-4" method="post">
    <input class="w-full p-2 border rounded" placeholder="Name" name="name" />
    <input class="w-full p-2 border rounded" placeholder="Code" name="code" />
    <input type="hidden" name="photo" value="" />
    <button type="submit"
            class="px-4 py-2 font-medium text-white bg-blue-500 rounded-lg">Save</button>
  </form>
{% endblock content %}
