{% set active_page = "student" %} {% extends "layout.html" %}
{% block title %}
  Add Student
{% endblock title %}
{% block content %}
  <div class="w-full max-w-3xl p-8 mx-auto bg-white rounded-lg shadow-sm">
    <form class="grid w-full grid-cols-2 gap-8 py-4"
          method="post"
          enctype="multipart/form-data">
      <div class="flex flex-col items-center justify-center col-span-2 pb-4 space-y-8">
        <img class="object-cover w-48 h-48 rounded-full"
             src="{{ url_for('static', filename='uploads/' + 'default.png') }}"
             height="192"
             width="192"
             alt="default" />
        <div class="flex items-center gap-2">
          <div class="relative">
            <button type="button"
                    id="add-photo"
                    class="px-4 py-2 text-white bg-blue-500 rounded-lg cursor-pointer hover:bg-blue-600">
              Add Photo
            </button>
            <input id="student-photo"
                   type="file"
                   name="photo"
                   accept="image/png, image/jpeg, image/jpg"
                   class="hidden" />
          </div>
          <button type="button"
                  id="remove-photo"
                  class="hidden px-4 py-2 text-white bg-red-500 rounded-lg cursor-pointer hover:bg-red-600">
            Remove Photo
          </button>
        </div>
      </div>
      <div class="col-span-2">
        <label class="block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase">Student ID</label>
        <input class="w-full col-span-2 px-4 py-3 border-2 rounded-lg focus:outline-none focus:border-blue-500"
               placeholder="Student Id"
               name="student_id" />
      </div>
      <div class="col-span-1">
        <label class="block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase">First name</label>
        <input class="w-full px-4 py-3 border-2 rounded-lg focus:outline-none focus:border-blue-500"
               placeholder="First Name"
               name="first_name" />
      </div>
      <div class="col-span-1">
        <label class="block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase">Last name</label>
        <input class="w-full px-4 py-3 border-2 rounded-lg focus:outline-none focus:border-blue-500"
               placeholder="Last Name"
               name="last_name" />
      </div>
      <div class="col-span-1">
        <label class="block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase">Gender</label>
        <div class="relative">
          <select class="w-full col-span-2 px-4 py-3 bg-white border-2 rounded-lg appearance-none"
                  name="gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
          </select>
          <div class="absolute inset-y-0 right-0 flex items-center px-4 pointer-events-none">
            <svg class="w-4 h-4 fill-current"
                 xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 20 20">
              <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
            </svg>
          </div>
        </div>
      </div>
      <div class="col-span-1">
        <label class="block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase">Birthday</label>
        <input class="w-full col-span-2 px-4 py-3 border-2 rounded-lg focus:outline-none focus:border-blue-500"
               type="date"
               name="birthday" />
      </div>
      <div class="col-span-2">
        <label class="block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase">College</label>
        <div class="relative">
          <select class="w-full col-span-2 px-4 py-3 bg-white border-2 rounded-lg appearance-none"
                  name="college_id">
            <option value="">Select College</option>
            {% for college in colleges %}<option value="{{ college.id }}">{{ college.name }}</option>{% endfor %}
          </select>
          <div class="absolute inset-y-0 right-0 flex items-center px-4 pointer-events-none">
            <svg class="w-4 h-4 fill-current"
                 xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 20 20">
              <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
            </svg>
          </div>
        </div>
      </div>
      <div class="col-span-2">
        <label class="block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase">Course</label>
        <div class="relative">
          <select class="w-full col-span-2 px-4 py-3 bg-white border-2 rounded-lg appearance-none"
                  name="course_id">
            <option value="">Select Course</option>
            <!-- {% for course in courses %}<option value="{{ course.id }}">{{ course.name }}</option>{% endfor %} -->
          </select>
          <div class="absolute inset-y-0 right-0 flex items-center px-4 pointer-events-none">
            <svg class="w-4 h-4 fill-current"
                 xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 20 20">
              <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
            </svg>
          </div>
        </div>
      </div>
      <button type="submit"
              class="col-span-2 px-4 py-4 text-white bg-blue-500 rounded-lg cursor-pointer hover:bg-blue-600">
        Save
      </button>
    </form>
  </div>
  {% block javascript %}
    <script type="text/javascript">
  const collegeSelect = document.querySelector("select[name=college_id]");
  const courseSelect = document.querySelector("select[name=course_id]");
  const photo = document.querySelector("input[type=file]");
  const profile = document.querySelector("img");
  const addPhoto = document.querySelector("#add-photo");
  const removePhotoBtn = document.querySelector("#remove-photo");

  addPhoto.addEventListener("click", () => {
    photo.click();
  });

  removePhotoBtn.addEventListener("click", () => {
    profile.src =
      "{{ url_for('static', filename='uploads/' + 'default.png') }}";
    photo.value = "";
    addPhoto.innerHTML = "Add Photo";
    removePhotoBtn.classList.remove("block");
    removePhotoBtn.classList.add("hidden");
  });

  photo.addEventListener("change", (e) => {
    const file = photo.files[0];
    const reader = new FileReader();

    reader.addEventListener("load", (e) => {
      profile.src = e.target.result;
    });

    reader.readAsDataURL(file);

    addPhoto.innerHTML = "Change Photo";
    removePhotoBtn.classList.remove("hidden");
    removePhotoBtn.classList.add("block");
  });

  collegeSelect.addEventListener("change", (e) => {
    getCourses(e.target.value);
  });

  function getCourses(collegId) {
    fetch(`/course/college/${collegId}`, {
      method: "GET",
    })
      .then((response) => response.json())
      .then((data) => {
        if (data && data.length > 0) {
          courseSelect.innerHTML = "";
          data.forEach((course) => {
            courseSelect.innerHTML += `<option value="${course.id}">${course.name}</option>`;
          });
        }
      })
      .catch((error) => console.log(error));
  }
    </script>
  {% endblock javascript %}
{% endblock content %}
