{% extends "layout.html" %} {% block title %}SSIS - Home{% endblock %} {% block
content %}

<div class="p-8 border rounded-md">
  <h2 class="text-3xl font-bold">Colleges</h2>
</div>

<div class="py-8">
  <a href="/college/add" class="font-medium"> Add College </a>
</div>

{% if colleges | length == 0 %}
<h1 class="text-4xl font-bold text-red-800">No data!</h1>
{% else %}
<div class="w-full py-8 space-y-8">
  {% for college in colleges %}
  <div class="flex justify-between p-4 border rounded-lg">
    <a class="font-medium" href="/college/{{ college.id }}"
      >{{ college.name }}</a
    >
    <div class="space-x-4">
      <a
        class="px-2 py-1 text-xs text-blue-500 bg-blue-200 rounded-lg hover:bg-blue-300 hover:text-blue-600 hover:font-medium"
        href="/college/update/{{ college.id }}"
      >
        Update
      </a>
      <button
        class="px-2 py-1 text-xs text-red-500 bg-red-200 rounded-lg hover:bg-red-300 hover:text-red-600 hover:font-medium"
        onClick="deleteCollege({{ college.id }})"
      >
        Delete
      </button>
    </div>
  </div>
  {% endfor %}
</div>

{% endif %} {% block javascript %}
<script type="text/javascript">
  function deleteCollege(id) {
    fetch(`/college/${id}`, {
      method: "DELETE",
    })
      .then((response) => response.json())
      .then((data) => {
        if (data.success) {
          window.location.reload();
        }
      });
  }
</script>
{% endblock %} {% endblock %}
