{% set active_page = "college" %} {% extends "layout.html" %} {% block title %}
Colleges {% endblock title %} {% block content %}
<form>
  <div class="relative flex items-center w-full max-w-lg">
    <div class="absolute flex items-center justify-center w-12 h-full">
      <i class="text-gray-700 fa-solid fa-magnifying-glass"></i>
    </div>
    <input
      name="query"
      type="text"
      class="w-full py-3 pl-12 border-2 rounded-lg"
      value="{{ query }}"
      placeholder="Search by college code, name"
    />
  </div>
</form>
<div class="flex items-center justify-between w-full py-4">
  <div>
    {% if query %}
    <p class="font-medium">
      Search result for '{{ query }}' ({{ total_count }})
    </p>
    {% else %}
    <p class="font-medium">
      Showing {{ colleges | length }} of {{ total_students }} students
    </p>
    {% endif %}
  </div>
  <a
    class="px-6 py-3 font-medium text-white bg-blue-500 rounded-lg hover:bg-blue-600"
    href="{{ url_for('college.add_college',) }}"
    >Add College</a
  >
</div>
<div class="w-full py-8 space-y-8">
  {% if colleges | length == 0 %}
  <h1 class="text-4xl font-bold text-red-800">No data!</h1>
  {% else %}
  <div class="grid grid-cols-2 gap-4">
    {% for college in colleges %}
    <div
      class="flex flex-col justify-between grid-cols-1 gap-8 p-4 bg-white border rounded-lg shadow-sm"
    >
      <div class="flex gap-4">
        {% if college.photo %}
        <img
          src="{{ url_for('static', filename='uploads/' + college.photo) }}"
          alt="{{ college.photo }}"
          class="object-cover rounded w-28 h-28"
          height="auto"
          width="auto"
        />
        {% else %} {% endif %}
        <div>
          <a href="{{ url_for('college.college', id=college.id) }}">
            <h3 class="text-lg font-medium text-gray-700">
              {{ college.name }}
            </h3>
          </a>
          <h3 class="text-lg font-medium text-gray-700">{{ college.code }}</h3>
        </div>
      </div>
      <div class="flex w-full gap-4">
        <a
          class="flex items-center justify-center w-full py-3 text-xs text-blue-500 bg-blue-200 rounded-lg hover:bg-blue-300 hover:text-blue-600 hover:font-medium"
          href="{{ url_for('college.update_college', id=college.id) }}"
          >Update</a
        >
        <button
          id="delete-college"
          data-id="{{ college.id }}"
          class="w-full py-3 text-xs text-red-500 bg-red-200 rounded-lg hover:bg-red-300 hover:text-red-600 hover:font-medium"
        >
          Delete
        </button>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="flex justify-center space-x-4">
    <a
      href="{{ url_for('college.colleges', page=page - 1) }}"
      class="{{ 'pointer-events-none opacity-50' if not has_previous_page }} bg-blue-500 text-white w-full flex justify-center items-center max-w-[120px] py-2 rounded-lg"
      >Previous</a
    >
    <a
      href="{{ url_for('college.colleges', page=page + 1) }}"
      class="{{ 'pointer-events-none opacity-50' if not has_next_page }} bg-blue-500 text-white w-full flex justify-center items-center max-w-[120px] py-2 rounded-lg"
      >Next</a
    >
  </div>
  {% endif %}
</div>
{% block javascript %}
<script type="text/javascript">
  function deleteCollege(id) {
    fetch(`/college/${id}`, {
      method: "DELETE",
    })
      .then((response) => response.json())
      .then((data) => {
        if (data.success) {
          window.location.reload();
        }
      })
      .catch((error) => {
        alert(error);
      });
  }

  const deleteButtons = document.querySelectorAll("#delete-college");

  deleteButtons.forEach((button) => {
    button.addEventListener("click", (e) => {
      const id = e.target.dataset.id;
      deleteCollege(id);
    });
  });
</script>
{% endblock javascript %} {% endblock content %}
