<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}SSIS - Simple Student Information System{% endblock %}
    </title>
    <script
      src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
      integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8="
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='index.jx') }}"
    ></script>
    <link
      href="{{url_for('static',filename='css/main.css')}}"
      rel="stylesheet"
    />
  </head>

  <body>
    <nav class="bg-white border-b h-[70px] px-8">
      <ul class="flex items-center h-full space-x-8">
        <li>
          <a class="hover:font-semibold" href="/"> Home </a>
        </li>
        <li>
          <a class="hover:font-semibold" href="/dashboard"> Dashboard </a>
        </li>
      </ul>
    </nav>
    <div class="p-4">{% block content %} {% endblock %}</div>
  </body>
</html>
