{% extends "layout.html" %} {% set active_page = "student" %}
{% block title %}
  {{ student.first_name }} {{ student.last_name }}
{% endblock title %}
{% block content %}
  <div class="w-full max-w-3xl p-8 bg-white shadow-sm rounded-3xl">
    <img src="{{ url_for('static', filename='uploads/' + student.photo) }}"
         alt="{{ student.photo }}"
         class="rounded"
         height="100px"
         width="100px" />
    <h1>Student id: {{ student.student_id }}</h1>
    <h1>Name: {{ student.first_name }} {{ student.last_name }}</h1>
    <h1>Birthday: {{ student.birthday }}</h1>
    <h1>Gender: {{ student.gender }}</h1>
    <h1>College: {{ student.college_name }}</h1>
    <h1>Course: {{ student.course_name }}</h1>
  </div>
{% endblock content %}
